.prestationArchive {
  text-align: center;
  margin-top: 25px;
  h1 {
    margin-bottom: 25px;
    margin-top: 0;
  }
  .lineContentLg,
  .lineContentXs {
    float: left;
    width: 50%;
    @media (max-width: $screen-md-max) {
      width: 100%;
    }
    .left,
    .right {
      width: 100%;
      display: flex;
      .colArchivePresta {
        width: 50%;
        text-align: left;
        background-color: $primary-color;
        height: 350px;
        display: flex;
        flex-direction: column;
        transition: ease all .8s;
        order: 1;
        padding: 0;
        position: relative;
        &.viewMore {
          width: 100%;
          background-color: $gray;
          .svgHome {
            display: none;
          }
          .contentArchivePresta {
            margin: auto;
            column-count: 2;
            column-gap: 50px;
            padding: 15px;
            max-height: unset;
            h3 {
              color: $primary-color;
            }
          }
        }
        .svgHome {
          margin-top: 15px;
          height: 65px;
          width: 65px;
          fill: $gray-dark;
          fill-opacity: 0.6;
          margin-left: auto;
          margin-right: 15px;
        }
        .viewMoreButton {
          width: 85px;
          height: 30px;
          color: $primary-color;
          background-color: $gray-dark;
          position: absolute;
          bottom: 5px;
          left: 50%;
          right: 50%;
          transform: translateX(-50%);
        }
        .contentArchivePresta {
          padding: 0 15px;
          max-height: 200px;
          overflow: hidden;
          p {
            margin-bottom: 3px;
          }
        }
        h3 {
          margin-top: 0;
          color: #222;
        }
      }
      .colImage {
        height: 350px;
        width: 50%;
        order: 2;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &.viewMore {
          width: 0;
        }
      }
    }
    .right {
      .colArchivePresta {
        order: 2;
        text-align: left;
        .svgHome {
          margin-right: auto;
          margin-left: 15px;
        }
      }
      .colImage {
        order: 1;
      }
    }
    @media (max-width: $screen-md-max) {
      display: none;
    }
  }
  .lineContentXs {
    display: none;
    @media (max-width: $screen-md-max) {
      display: block;
    }
    .right .colArchivePresta,
    .left .colArchivePresta {
      min-height: 435px;
      .contentArchivePresta {
        @media (max-width: $screen-md-max) {
          max-height: 300px;
        }
      }
      &.viewMore {
        height: auto;
        .contentArchivePresta {
          padding: 15px;
          height: 400px;
          margin: auto;
          column-count: initial;
          column-gap: 0px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            max-height: 325px;
            overflow: scroll;
            &::-webkit-scrollbar {
              width: 4px;
              height: 0;
            }
            &::-webkit-scrollbar-track {
              background: transparent;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 15px;
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
              background: #000;
            }
          }
        }
      }
    }
  }
  .nosMarques {
    background-color: #fff;
    .references {
      background-color: #fff;
      padding: 0 15px;
      height: 80px;
      width: 100%;
      margin: 25px auto;
      position: relative;
      .left-arrow,
      .right-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        cursor: pointer;
        color: #999;
        font-size: 16px;
      }
      .right-arrow {
        right: 0;
        left: auto;
      }
      .content-references {
        overflow: hidden;
        position: relative;
        height: 100%;
        ul {
          position: absolute;
          top: 0;
          left: 0;
          list-style: none;
          padding: 0;
          margin: 0;
          text-align: center;
          white-space: nowrap;
          transition: all .5s ease;
          li {
            display: inline-block;
            margin: 10px 20px;
            height: 60px;
            width: 190px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
}